#main {
    position: relative;
    height: 500px;
}
#main .top #empty_cart {
    text-align: center;
    margin-top: 200px;
}
#main .top #to_empty {
    color: #B0413E;
    position: absolute;
    top: 480px;
    right: 15px;
}